<!DOCTYPE html>
<html lang="en">

<head>
	<title>Forgot Password</title>
    {% include './heads/header.html' %}
</head>

<body>
	<header>
        {% include './heads/logo.html' %}
        <nav class="navHide">
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('feature') }}">Features</a>
			<a href="{{ url_for('join') }}">Join us</a>
			<a href="{{ url_for('gallery') }}">Gallery</a>
            {% include './heads/userbtn.html' %}
        </nav>
	</header>
    {% include './heads/profile-popup.html' %}
  <div class="formBox nopopup">
    <!-- this is for login  -->
    <form method="POST" action="{{url_for('forgot')}}" accept-charset="utf-8">
      <h2> Forgot Password </h2>
      <p> Please enter the Email that is associated with the account: </p>
	    {% with messages = get_flashed_messages() %}
	        {% if messages %}
                {% for message in messages %}
                <p><em class="flash">
                    {{ message }}
                </em></p>
                {% endfor %}
	        {% endif %}
	    {% endwith %}
      <div class="field">
        <input type="email" id="email" name="email" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Please Complete your Email Address" required />
        <label for="email">Email ID</label>
      </div>
      <button class="btn" type="submit">
        <i class="fas fa-user"></i>
        <strong>Send</strong>
      </button>
    </form>
  </div>
  {% include './heads/footer.html' %}
</body>

</html>