<footer>
    <h5>Copyright<sup>&copy;</sup> RisingPheonix 2021 All Rights Reserved</h5>
	<h4>Credit: ZAID / AKGAMEZ</h4>
    <div class="footNav">
		<a href="https://www.youtube.com/channel/UCSiHRtElgNCJdbzapdzzuUA" class="fab fa-youtube-square"></a>
		<a href="#" class="fab fa-facebook-square"></a>
		<a href="#" class="fab fa-twitter-square"></a>
	</div>
	<h5>By Joining with us you're agree to our</h5>
	<h5><a href="{{ url_for('terms') }}"> Terms & Condition</a></h5>
  </footer>
    <audio id="sound" src="/static/sound/click.mp3" hidden>
    </audio>
  <!-- this is for JavaScript -->
  <script src="https://kit.fontawesome.com/37a20c2b2d.js" crossorigin="anonymous"></script>
  <script src="/static/js/main.js" async></script>