@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
}
body>* {
  font-family: 'Nunito', sans-serif;
  transition: all 0.3s;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #c00;
  text-decoration: none;
}

a:not(.btn):hover {
  text-decoration: underline;
}

.btn {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 700;
  transition: all 0.2s;
  display: inline-block;
  text-decoration: none;
  border-width: 2px;
  border-style: outset;
}

.btn:active {
  font-weight: 900;
  transform: scale(0.90);
  text-decoration: none;
  border-style: inset;
}




/* this is for footer */
footer {
  text-align: center;
  display: flex;
  flex-flow: column;
  line-height: 1px;
  padding: 10px;
  box-shadow: 0 0 1px #0005;
}
footer .footNav a {
  color: #000;
  font-size: 42px;
  margin: 0 12px;
  padding: 0;
}
footer .footNav a:hover {
  text-decoration: none;
  color: #a00;
  text-shadow: 2px 2px #000;
}



/* this is for heading */

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 1px #0006;
}


/* this is for logo */

header .logo h1 {
  margin: 0;
  letter-spacing: -5px;
  font-family: 'Nunito', fantasy;
  font-variant: small-caps;
  color: #f00;
  font-weight: 800;
  padding: 8px 5px;
  font-size: 42px;
  -webkit-text-stroke: 1px #000;
  display: inline-block;
}

/* this is for navigation */
header nav {
  padding: 10px 0;
}

header nav a {
  color: inherit;
  padding: 3px;
  margin: 0 0 0 40px;
  font-weight: 800;
  font-size: 1.1rem;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
}

header nav a:hover:not(.btn),
nav a.active {
  border-bottom: 3px solid #b00;
  color: #b00;
  text-decoration: none;
}

header .login .btn {
  background: #c00;
  border-color: #a00;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
}




/* this is for popup login */
header .login .form .cancel {
  position: absolute;
  display: inline-block;
  z-index: 4;
  top: 9px;
  right: 26%;
  color: #fff;
  background: #c00;
  padding: 2px 6px;
  font-size: 24px;
  border: 1px outset #c00;
  border-radius: 50%;
}

header .login .form .cancel:active {
  border-style: inset;
  transform: scale(0.9);
}

header .login .form {
  transition: all 0.5s;
  color: #000;
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 3;
  left: 50%;
  top: 100px;
  opacity: 0;
  transform: translate(-50%, 0) scale(0);
}

header .login .form::before {
  content: "";
  transition: none;
  background: #0008;
  width: 100%;
  height: 1000%;
  position: absolute;
}

header .login .form #boxsign {
  text-align: center;
  position: relative;
  width: 50vw;
  padding: 20px 8%;
  overflow: auto;
  border-radius: 14px;
  background: url('../img/bg.jpeg') no-repeat center/cover;
}





/* this is for main content */

.container {
  display: flex;
  flex-flow: wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.container .box {
  padding: 10px;
  box-shadow: 0 0 0.5px #0002;
  text-align: center;
  flex: 1 0 0;
  width: 340px;
  transition: all 0.3s;
}

.container .box:hover {
  border: 2px solid #000;
  background: #2c3e50;
  color: #fff9;
  box-shadow: -2px -4px 0px #0009 inset, 2px 2px 0px #fff7 inset;
  transform: scale(0.94);
  border-radius: 5px;
}

.container .box img {
  width: 100%;
  height: 178px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid black;
}


.container .box h2 {
  border: 2px solid #000;
  padding: 5px 16px;
  margin: 10px 0;
  border-radius: 2px;
  color: #fff;
}

.container .game h2 {
  background: linear-gradient(60deg, darkslategrey, slategrey);
}

.container .anime h2 {
  background: blue linear-gradient(60deg, royalblue, cornflowerblue);
}

.container .league h2 {
  background: linear-gradient(60deg, seagreen, mediumseagreen);
}

.container .box p {
  font-weight: 700;
}

.container .box .btn {
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 5px 14px;
}

.container .game .btn {
  background: linear-gradient(60deg, darkslategrey, slategrey);
  border-color: slategrey;
}

.container .anime .btn {
  background: linear-gradient(60deg, royalblue, cornflowerblue);
  border-color: cornflowerblue;
}

.container .league .btn {
  background: linear-gradient(60deg, seagreen, mediumseagreen);
  border-color: mediumseagreen;
  pointer-events: none;
  cursor: default;
  text-decoration: 3px line-through #a00;
}



/* this is for animation */
@keyframes buzz {
  0% {
    transform: translateY(0) scale(0.5);
    box-shadow: 0 0 5px black;
  }

  100% {
    transform: translateY(-40px) scale(1);
    box-shadow: 0 50px 40px black;
  }
}


.buzz {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px #0005;
}

.buzz .btn {
  animation: buzz 0.7s cubic-bezier(0.1, 0.25, 0.1, 1) infinite alternate both;
  cursor: pointer;
  padding: 5px 14px;
  background: linear-gradient(60deg, #000, slategrey);
  font-size: 1.5rem;
  text-transform: uppercase;
}




/* this is for Sign in page */
.form {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.form::before {
  background: url("../img/bg.jpeg") no-repeat center/cover;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
}

.form #boxsign {
  text-align: center;
  position: relative;
  width: 50vw;
  padding: 20px 8%;
  overflow: auto;
  border-radius: 14px;
  box-shadow: 0 1px 3px #0007;
  background: transparent;
}

.form #boxsign h2 {
  margin: 0 0 2%;
  letter-spacing: 1px;
  border-bottom: 3px solid #000;
}

.form #boxsign p {
  margin: 0 0 2%;
}



/* this for input fields */

.form #boxsign .field {
  padding: 10px 0;
}

.form #boxsign .field input {
  width: 100%;
  outline: none;
  border: 1px solid #0007;
  color: #000;
  font-family: 'Nunito', sans-serif;
  padding: 10px 16px;
  background: transparent;
  transition: all 0.2s;
  border-radius: 4px;
}

.form #boxsign .field label {
  position: absolute;
  left: 20%;
  transform: translateY(44%);
  color: #0007;
  transition: all 0.2s;
}


/* this is for floating label */
.form #boxsign .field input:valid:not(:placeholder-shown) {
  border: 2px solid mediumseagreen;
}

.form #boxsign .field input:valid:not(:placeholder-shown)~label {
  color: mediumseagreen;
}

.form #boxsign .field input:valid:not(:placeholder-shown)~label::after {
  color: mediumseagreen;
  content: " ✓";
  word-spacing: 5px;
}


.form #boxsign .field input:invalid:not(:placeholder-shown)~label::after {
  color: #c00;
  content: " ✗";
  word-spacing: 5px;
}

.form #boxsign .field input:invalid:not(:placeholder-shown) {
  border: 2px solid #c00;
}

.form #boxsign .field input:invalid:not(:placeholder-shown)~label {
  color: #c00;
}

.form #boxsign .field input:focus {
  border: 2px solid #000;
}

.form #boxsign .field input:focus~label,
.form #boxsign .field input:not(:placeholder-shown)~label {
  padding: 0 5px;
  color: #000;
  background: #fff;
  font-weight: 700;
  left: 18%;
  transform: scale(0.9) translateY(-55%);
}


/* this is for sign in bottom */
.form #boxsign .btn {
  padding: 5px 14px;
  background: #c00;
  border-color: #a00;
  font-size: 1.2rem;
  text-transform: uppercase;
}


/* this is for join page */
.join {
  color: #fff;
  background: #0035;
}

.join .headBox {
  display: flex;
  flex-flow: column;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #2c3e50;
  border-bottom-left-radius: 50% 65%;
}

.join .headBox h2 {
  font-size: 32px;
  font-weight: 800;
}

.join .headBox h1 .highlight,
.highlight {
  color: #c00;
  padding: 0 5px;
  border-bottom: 2px solid #c00;
}

.join .headBox .btn {
  background: #c00;
  border-color: #a00;
  font-size: 28px;
  font-weight: 700;
  padding: 4px 20px;
}

.join .listBox {
  display: flex;
  padding: 20px 10px;
  flex-flow: row wrap;
  gap: 10px;
  text-align: center;
  color: #fff9;
}

.join .listBox .list {
  background: #2c3e50;
  border-radius: 5px;
  box-shadow: -2px -4px 0px #0009 inset, 2px 2px 0px #fff7 inset;
  flex: 1 1 0;
  padding: 20px 5px;
  transition: all 0.2s;
}

.join .listBox .list:hover {
  transform: scale(0.98);
  background: #a00;
  color: #fff;
}

.join .listBox .list div {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  font-size: 24px;
}




/* this is for about us page */
.blockHead {
  border-bottom: 2px solid #a00;
  margin: 10px 0 0;
}

.blockHead h2 {
  color: #a00;
  font-size: 30px;
  border-left: 6px solid #a00;
  margin: 0;
  padding: 10px 0 10px 20px;
  text-align: left;
  text-transform: uppercase;
}

.blockHead p {
  color: #0009;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin: 0 0 10px 0;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  padding: 10px;
  text-align: center
}


.block .about .aboutList {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 0;
  gap: 10px;
  color: #fff9;
}
.block .about .aboutList .box a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.block .about .aboutList .box {
  flex: 1 0 0;
  border-radius: 5px;
  background: #2c3e50;
  box-shadow: -2px -4px 0px #0009 inset, 2px 2px 0px #fff7 inset;
  padding: 20px;
}

.block .about .aboutList .box h3 {
  font-size: 24px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 0;
  border: 2px outset seagreen;
  display: inline-block;
  background: seagreen;
  transition: all 0.2s;
}

.block .about .aboutList .discord h3 {
  background: cornflowerblue;
  border: 2px outset cornflowerblue;
}

.block .about .aboutList .box h3:active {
  transform: scale(0.95);
  border-style: inset;
}

.block .about .aboutList .box p {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0 0;
}




/* this is for contact us page */
.block .contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-self: start;
  background: #2c3e50;
  padding: 25px;
  border-radius: 5px;
  box-shadow: -2px -4px 0px #0009 inset, 2px 2px 0px #fff7 inset;
}

.block .contact h2 {
  color: #c00;
  border-bottom: 3px solid #c00;
  font-size: 30px;
  padding: 0 10px;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.block .contact p {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  color: #fff9;
}

.block .contact .msg {
  display: flex;
  flex-flow: column;
  position: relative;
  text-align: center;
  width: 90%;
}
.block .contact .msg .field {
  display: flex;
  padding: 20px 0 0;
}
.msg .field label {
  font-size: 18px;
  position: absolute;
  left: 4%;
  color: #fff6;
  transform: translateY(50%);
  transition: all 0.3s;
}
.msg .field [id] {
  outline: none;
  font-size: 18px;
  width: 100%;
  border: 1px solid #fff6;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  resize: none;
  font-weight: 600;
  padding: 10px;
  background: transparent;
  transition: all 0.3s;
  border-radius: 4px;
}
.msg .field [id]:focus {
  border: 2px solid #fff;
}
.msg .field [id]:focus~label,
.msg .field [id]:not(:placeholder-shown)~label {
  color: #fff;
  font-weight: 700;
  background: #2c3e50;
  padding: 0 5px;
  left: 2%;
  transform: translateY(-50%) scale(0.90);
}
.msg .field [id]:valid:not(:placeholder-shown) {
  border: 2px solid  mediumspringgreen;
  color:  mediumseagreen;
}
.msg .field [id]:valid:not(:placeholder-shown)~label {
  color:  mediumspringgreen;
}
.block .contact .msg .btn {
  background: #a00;
  color: #fff;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  border-color: #c00;
  margin: 10px 0 0;
}


/* this is for feature page */
.feature .title {
  margin: 10px 0 0;
  text-align: center;
  padding: 10px;
  font-weight: 800;
  color: #fff;
  background: #c00;
}
.feature .list {
  display: flex;
  padding: 10px;
  grid-gap: 10px;
}
.feature .list iframe {
  display: inline-block;
  flex: 0 1 50%;
  aspect-ratio: 16/9;
  width: 0;
  box-shadow: 0 0 2px #0009;
  border: none;
  border-radius: 2px;
}
.feature .list .eps {
  flex: 0 1 50%;
  width: 0;
  display: grid;
  grid-template: repeat(4, minmax(auto, 0.25fr)) / repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}
.feature .list .eps [href] {
  padding: 8px 14px;
  background: #c00;
  border: 1px outset #c00;
  color: #fff;
  font-weight: 700;
  transition: all 0.2s;
}
.feature .list .eps [href]:hover {
  border: 1px inset #c00;
  transform: scale(0.90);
  text-decoration: none;
}


/* this is for privacy page */

.privacy {
  height: 100vh;
  display: flex;
  flex-flow: column;
}