<!DOCTYPE html>
<html lang="en">

<head>
  <title>Account</title>
  {% include './heads/header.html' %}
</head>

<body>
  <header>
    {% include './heads/logo.html' %}
    <nav class="navHide">
      <a href="/">Home</a>
      <a href="/feature">Features</a>
      <a href="/join">Join us</a>
      <a href="/gallery">Gallery</a>
      {% include './heads/userbtn.html' %}
    </nav>
  </header>
  <!-- this is for usermenu & login popup-->
  {% include './heads/profile-popup.html' %}
  <!--  this is setting page -->
  <h2 class="title">Settings</h2>
  <section class="settings">
    <nav class="settingNav">
      <div>
        <a href="{{ url_for('settings', name=current_user.name) }}">Account info</a>
        <a class="active" href="{{ url_for('change_password', name=current_user.name) }}">Change Password</a>
        <a href="{{ url_for('other_settings', name=current_user.name) }}">Other Settings</a>
      </div>
    </nav>
    <div class="settingContent" id="change-password">
      <div class="formBox">
      <form method="POST" action="{{ url_for('change_password_post', name=current_user.name) }}">
        <h2>Change Password</h2>
        {% with messages = get_flashed_messages() %}
	        {% if messages %}
                {% for message in messages %}
                <p><em class="flash">
                    {{ message }}
                </em></p>
                {% endfor %}
	        {% endif %}
	    {% endwith %}
        <div class="field">
          <input type="password" placeholder=" " name="old_pass" id="old-password" required>
          <label for="old-password">Old Password</label>
        </div>
        <p>Enter New Password</p>
        <div class="field">
          <input type="password" placeholder=" " name="new_pass" id="password" required>
          <label for="password">New Password</label>
        </div>
        <div class="field">
          <input type="password" placeholder=" " name="" id="confirm_password" required>
          <label for="confirm_password">Confirm Password</label>
        </div>
        <button class="btn" type="submit"> Change </button>
      </form>
      </div>
    </div>
  </section>

  <script src="/static/js/validation.js"></script>
  <script src="/static/js/user.js" async></script>
  {% include './heads/footer.html' %}
</body>

</html>
