<!DOCTYPE html>
<html>

<head>
	{% include 'heads/header.html' %}
	<title>admin</title>
	<style type="text/css" media="all">
	form {
		height: 100vh;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		grid-gap: 10px;
	}
	form input {
		padding: 8px 10px;
	}
	form .btn {
		width: 120px;
		margin-top: 10px;
		background: #a00;
		border-color: #a00;
		color: #fff;
		font-weight: 700;
	}
	</style>
</head>

<body>
	<form action="{{ url_for('feature_admin') }}" method="post" accept-charset="utf-8">
		<label for="title">Title</label>
		<input type="text" name="title" id="title" required/>
		<label for="thumbnail">Thumbnail</label>
		<input type="url" name="thumbnail" id="thumbnail" required>
		<label for="source">Source</label>
		<input type="url" name="src" id="source" required/>
		<!-- botton -->
		<input class="btn" type="submit" value="Add" />
	</form>
</body>

</html>