{% extends 'header.html' %}
     <nav>
       <a href="{{ url_for('home') }}">Home</a>
       <a href="#" class="active">Features</a>
       <a href="{{ url_for('join') }}">Join us</a>
       <a href="{{ url_for('gallery') }}">Gallery</a>
     </nav>
     {% include 'login_button.html' %}
   </header>
   <section class="feature">
     <h2 class="title">Popular Anime 2021</h2>
     <div class="list">
       <iframe id="player"  src="https://youtube.com/embed/playlist?list=PLwQNlb4Bfw026TZGHgfkqKJeVvKGB-D4o" name="somename" allowfullscreen></iframe>
       <div class="eps">
         <a href="https://www.youtube.com/embed/dJlrYEdw3bg" target="somename">EP 1</a>
         <a href="https://www.youtube.com/embed/JF-laAVYAGA" target="somename">EP 2</a>
         <a href="https://www.youtube.com/embed/RMlx1vRXhSk" target="somename">EP 3</a>
         <a href="https://youtube.com/embed/l410dyHJ5AE" target="somename">EP 4</a>
         <a href="https://youtube.com/embed/y9lmMvIuKTU" target="somename">EP 5</a>
         <a href="https://youtube.com/embed/JO365SMkrW8" target="somename">EP 6</a>
         <a href="https://youtube.com/embed/playlist?list=PLwQNlb4Bfw026TZGHgfkqKJeVvKGB-D4o" target="somename">EP 7</a>
         <a href="https://www.youtube.com/embed/yrOXQzDw43A" target="somename">EP 8</a>
       </div>
       <div class="summary">
       </div>
     </div>
     <div class="add">
			<a href = "/admin" class="btn" >
				<b>Add</b>
				<i class="fas fa-plus"></i>
            </a>
     </div>
   </section>
   {% extends 'footer.html' %}
 </body>

 </html>