<footer>
    <h3>Copyright<sup>&copy;</sup> RisingPheonix 2021 All Rights Reserved</h3>
    <h2>Credit: ZAID / AKGAMEZ</h2>
    <div class="footNav">
      <a href="#" class="fab fa-reddit-square"></a>
      <a href="#" class="fab fa-facebook-square"></a>
      <a href="#" class="fab fa-twitter-square"></a>
      <a href="#" class="fab fa-github-square"></a>
    </div>
  </footer>
  <!-- this is for JavaScript -->
  <script src="https://kit.fontawesome.com/37a20c2b2d.js" crossorigin="anonymous"></script>
  <script src="static/js/main.js" async></script>