{% include 'header.html' %}
		<nav class="navHide">
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('feature') }}">Features</a>
			<a href="{{ url_for('join') }}">Join us</a>
			<a href="#" class="active">Gallery</a>
			{% if current_user.is_authenticated: %}
         <a href="{{ url_for('logout') }}" class="btn"><i class="fas fa-user"></i> Logout</a>
        {% else: %}
        <a id="showbtn" class="btn"><i class="fas fa-user"></i> Login</a>
         {% endif %}
		</nav>
	</header>
{% include 'login_button.html' %}
	<!-- this is for gallery page -->
	<section class="gallery">
		<div class="uploadBox">
			<div class="title">
				<h2>Gallery</h2>
				<h4>
					Upload and share your gaming moments here.
					Note: only links are supported.
				</h4>
				<div class="add">
					{% if current_user.is_authenticated: %}
					<a href="{{ url_for('gallery_upload') }}" class="btn">
						<b>UPLOAD</b>
						<i class="fas fa-upload"></i>
					</a>
					{% else: %}
					<a href="{{ url_for('login') }}" class="btn">
						<b>LOGIN TO UPLOAD</b>
						<i class="fas fa-upload"></i>
					</a>
					{% endif %}
				</div>
			</div>
			<img src="static/img/gallery.jpg" alt="upload-background">
		</div>
		<div class="mainBox">
			{% for video in videos %}
			<div class="list">
				<div class="details">
					<h3 class="postTitle">{{ video['title'] }}</h3>
				</div>
				<iframe class="vPlayer" src="{{ video['source'] }}" frameborder="0"></iframe>
				<div class="userPost">
					<h3 class="author">@{{ video['name'] }}</h3>
					<h3 class="postDate">{{ video['date'] }} {{ video['time'] }}</h3>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	{% extends 'footer.html' %}
</body>

</html>