<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#000">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content=" #000">
  <title>Login</title>
  <!-- Custom Styles -->
  <script src="https://kit.fontawesome.com/37a20c2b2d.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/jpeg" href="static/img/logo.jpeg">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/mobile.css" />
</head>

<body>
  <div class="form">
    <!-- this is for login  -->
    <form id="boxsign" method="POST" action="{{url_for('login')}}" accept-charset="utf-8">
      <h2> Login </h2>
      <p> Don't have an Account? <a href="{{url_for('register')}}"> Sign in</a></p>
      <div class="field">
        <input type="email" id="email" name="email" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Please Complete your Email Address" required />
        <label for="email">Email ID</label>
      </div>
      <div class="field">
        <input type="password" id="password" name="password" placeholder=" " required pattern=".{8,}" title="Please Enter Correct Password" />
        <label for="password">Password</label>
      </div>
      <button class="btn" type="submit"><span class="fas fa-user"></span> Login</button>
    </form>
  </div>
  <script src="static/js/main.js" async></script>
</body>

</html>