<!DOCTYPE html>
<html lang="en">

<head>
	<title>Privacy || Terms to Use</title>
	{% include 'heads/header.html' %}
	<link rel="stylesheet" href="/static/css/bulb.css">
</head>

<body>
	<header>
		{% include 'heads/logo.html' %}
		<nav class="navHide">
			<a href="/">Home</a>
			<a href="/feature">Features</a>
			<a href="/join">Join us</a>
			<a href="/gallery">Gallery</a>
			{% include 'heads/userbtn.html' %}
		</nav>
	</header>
	{% include 'heads/profile-popup.html' %}
	<!-- this is for privacy page -->
	<section class="privacy">
		<div class="bulb">
			<div class="wire"></div>
			<div class="lightHead"></div>
			<div class="lightOff"></div>
		</div>
		<button class="switch btn" type="button">ON</button>
		<h2 class="titleOff">Coming Soon</h2>
	</section>
	<script src="/static/js/bulb.js"></script>
	{% include 'heads/footer.html' %}
</body>

</html>