<!DOCTYPE html>
<html lang="en">

<head>
	<title>Privacy || Terms to Use</title>
	{% include 'header.html' %}
</head>

<body>
	<header>
		{% include 'logo.html' %}
		<nav class="navHide">
			<a href="/">Home</a>
			<a href="/feature">Features</a>
			<a href="/join">Join us</a>
			<a href="/gallery">Gallery</a>
			<a id="showbtn" class="btn"><i class="fas fa-user"></i> Login</a>
		</nav>
	</header>
	<!-- this is for popup login-->
	<section class="login">
		<%- include('extend/popupLogin.html') -%>
	</section>
	<!-- this is for privacy page -->
	<section class="privacy">
		<div class="bulb">
			<div class="wire"></div>
			<div class="lightHead"></div>
			<div class="lightOff"></div>
		</div>
		<button class="switch btn" type="button">ON</button>
		<h2 class="titleOff">Coming Soon</h2>
	</section>
	{% include 'footer.html' %}
	<script src="/static/js/bulb.js"></script>
</body>

</html>