{% include 'header.html' %}
  <nav class="navHide">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('feature') }}">Features</a>
      <a href="{{ url_for('join') }}">Join us</a>
      <a href="{{ url_for('gallery') }}">Gallery</a>
      <a href="{{ url_for('login') }}" class="btn"><i class="fas fa-user"></i> Login</a>
  </nav>
  </header>
  <div class="form">
    <!-- this is for sign in  -->
    
    <form id="boxsign" method="POST" action="{{ url_for('register') }}" accept-charset="utf-8" >
      <h2> Create Account </h2>
      <p>Already have an account? <a href="/login"> Login</a></p>
      
      <div class="field">
        <input type="text" id="username" name="username" placeholder=" " title="Username must be atleast 4 characters" pattern=".{4,}" required />
        <label for="username">Username</label>
      </div>
      
      <div class="field">
        <input type="email" id="email" name="email" placeholder=" " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Please Complete your email address" required />
        <label for="email">Email ID</label>
      </div>
      
      <div class="field">
        <input type="password" onchange="validatePassword();" name="password" placeholder=" " id="password" pattern=".{8,}" title="Your password must be atleast 8 characters" required/>
        <label for="password">Password</label>
      </div>

      <div class="field">
        <input type="password" name="password" id="confirm_password" placeholder=" " onkeyup="validatePassword();" required />
        <label for="confirm_password">Confirm Password</label>
      </div>
      <button class="btn" type="submit"><span class="fa fa-user"></span> Sign in</button>
    </form>
  </div>
  {% extends 'footer.html' %}
</body>

</html>