<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gallery Upload Form</title>
	{% include 'header.html' %}
	<link rel="stylesheet" href="/static/css/upload.css" />
</head>

<body>
	<header>
		{% include 'logo.html' %}
		<nav class="navHide">
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('feature') }}">Features</a>
			<a href="{{ url_for('join') }}">Join us</a>
			<a href="{{ url_for('gallery') }}" class="active">Gallery</a>
			<a id="showbtn" class="btn"><i class="fas fa-user"></i> Login</a>
		</nav>
	</header>
	<section class="login">
		{% include 'login_button.html' %}
	</section>
	<!-- this is for upload section-->
	<main>
		<form method="POST" action="{{ url_for('gallery_upload') }}" accept-charset="utf-8">
			<h2>Gallery Album</h2>
			<div class="field">
				<input type="text" name="title" id="eps" placeholder=" " required />
				<label for="eps">Title</label>
			</div>
			<div class="field">
				<input type="text" name="description" placeholder=" " required />
				<label for="eps">description</label>
			</div>
			<div class="field">
				<input type="text" name="link" id="link" placeholder=" " required />
				<label for="link">Embed link</label>
			</div>
			<div class="fileField">
				<label class="btn" for="file">
					<i class="fas fa-photo-film"></i>&nbsp;&nbsp;Choose File</label>
				<input type="file" name="file" id="file" placeholder=" " accept="image/*, video/*, text/plain, audio/*" required hidden />
				<label id="txt" for="file">No File Choosen</label>
			</div>
			<em><span>Note: </span> Select only Video, Image and Audio as their are all supported but not other documents.</em>
			<div class="add">
				<button class="btn" type="submit">
					<b>UPLOAD</b>
					<i class="fas fa-upload"></i>
				</button>
			</div>
		</form>
	</main>
	{% extends 'footer.html' %}
	<script src="/static/js/upload.js" async></script>
</body>

</html>