<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gallery Upload Form</title>
	{% include 'heads/header.html' %}
	<link rel="stylesheet" href="/static/css/upload.css" />
</head>

<body>
	<header>
		{% include 'heads/logo.html' %}
		<nav class="navHide">
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('feature') }}">Features</a>
			<a href="{{ url_for('join') }}">Join us</a>
			<a href="{{ url_for('gallery') }}" class="active">Gallery</a>
			{% include 'heads/userbtn.html' %}
		</nav>
	</header>
	{% include 'heads/profile-popup.html' %}
	<!-- this is for upload section-->
	<h2 class="title">Gallery Album</h2>
	<main>
		<form id="upload" method="POST" action="{{ url_for('gallery_upload') }}" enctype="multipart/form-data" accept-charset="utf-8">
			<h2>Upload Form</h2>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p><em class="flash">
						{{ message }}
						</em></p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="field">
				<input type="text" name="title" id="title" placeholder=" " required />
				<label for="title">Title</label>
			</div>
			<div class="field">
				<input type="text" name="description" id="about" placeholder=" " required />
				<label for="about">Description</label>
			</div>

<!--			Test this feature-->
			<div class="admin">
        		Section:
        		<select name="option" id="option">
          			<optgroup label="Select File Type">
            			<option value="" hidden></option>
            			<option value="Image">Image</option>
            			<option value="Video">Video</option>
          			</optgroup>
        		</select>
      		</div>

			<div class="fileField">
				<label class="btn" for="file">
			  		<i class="fas fa-photo-film"></i> Choose File
				</label>
				<input type="file" name="file" id="file" placeholder=" " accept="image/*, video/*" required hidden />
				<label id="filename" for="file">No File Choosen</label>
		  	</div>
		 	<div class="wrap"></div>

			<button class="btn" type="submit">
				<strong>Upload</strong>
				<i class="fas fa-upload"></i>
			</button>
		</form>
	</main>
	<script src="/static/js/upload.js" async></script>
	{% include 'heads/footer.html' %}
</body>

</html>